{% assign block_settings = block.settings %}

<div class="accordion-debug" {{ block.shopify_attributes }}>
  <p class="accordion-debug__text">{{ block_settings.text }}</p>
</div>

{% schema %}
{
  "name": "Accordion debug",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Debug block"
    }
  ]
}
{% endschema %}
