

{%- if shop.features.follow_on_shop? -%}
  <div
    class="spacing-style"
    style="{% render 'spacing-padding', settings: block.settings %}"
    {{ block.shopify_attributes }}
  >
    {{ shop | login_button: action: 'follow' }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:names.follow_on_shop",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.follow_on_shop_eligiblity"
    }
  ],
  "presets": [
    {
      "name": "t:names.follow_on_shop",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
