{% assign block_settings = block.settings %}
{% assign slide_count = block.blocks | size %}

{% if slide_count > 1 %}
  {% capture controls %}
    {%- render 'slideshow-controls',
      style: block_settings.slideshow_controls_style,
      autoplay: block_settings.autoplay,
      item_count: slide_count,
      show_arrows: false,
      arrows_on_media: true,
      controls_on_media: true,
      pagination_position: 'center',
      icon_style: block_settings.icons_style
    -%}
  {% endcapture %}
{% endif %}

{% capture slides %}
  {% for slide in block.blocks %}
    {% render slide, slide_index: forloop.index0, slideshow_settings: block_settings, slideshow_scope_id: block.id %}
  {% endfor %}
{% endcapture %}

{% if slide_count == 0 %}
  {% assign slide_count = 1 %}
  {% capture slides %}
    {% capture placeholder %}
      {{ 'hero-apparel-2' | placeholder_svg_tag: 'slide__image' }}
    {% endcapture %}
    {% render 'slideshow-slide', index: 0, children: placeholder %}
  {% endcapture %}
{% endif %}

{% liquid
  assign slideshow_class = 'slideshow--single-media'
  if slide_count > 1
    assign slideshow_class = ''
  endif

  assign show_arrows = true
  if block_settings.icons_style == 'none' or slide_count <= 1
    assign show_arrows = false
  endif
%}

<div
  class="slideshow-block spacing-style slideshow-scope-{{ block.id }}"
  style="{% render 'spacing-style', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  {% render 'slideshow',
    class: slideshow_class,
    controls: controls,
    show_arrows: show_arrows,
    icon_style: block_settings.icons_style,
    autoplay: block_settings.autoplay,
    autoplay_speed: block_settings.autoplay_speed,
    slides: slides,
    slide_count: slide_count,
    slide_size: block_settings.slide_height
  %}
</div>

{% schema %}
{
  "name": "Slideshow",
  "tag": null,
  "blocks": [
    {
      "type": "_slide"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "icons_style",
      "label": "Arrow style",
      "options": [
        {
          "value": "arrow",
          "label": "t:options.arrows"
        },
        {
          "value": "chevron",
          "label": "t:options.chevrons"
        },
        {
          "value": "arrows_large",
          "label": "t:options.large_arrows"
        },
        {
          "value": "chevron_large",
          "label": "t:options.large_chevrons"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "arrows_large"
    },
    {
      "type": "select",
      "id": "slideshow_controls_style",
      "label": "Pagination",
      "options": [
        {
          "value": "dots",
          "label": "t:options.dots"
        },
        {
          "value": "counter",
          "label": "t:options.counter"
        },
        {
          "value": "none",
          "label": "t:options.none"
        }
      ],
      "default": "dots"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 4,
      "visible_if": "{{ block.settings.autoplay }}"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "auto",
          "label": "t:options.auto"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        }
      ],
      "default": "medium",
      "label": "Slide height"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "Left padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "Right padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "t:categories.banners",
      "blocks": {
        "slide_1": {
          "type": "_slide"
        }
      }
    }
  ]
}
{% endschema %}
