

<div
  class="social-icons__wrapper footer-utilities__icons"
  {{ block.shopify_attributes }}
>
  {% liquid
    assign menu = block.settings.menu
    if menu != blank
      assign menu_links = menu.links
    endif
  %}

  {% if menu_links != blank %}
    {% for link in menu_links %}
      {% liquid
        assign link_url = link.url
        assign link_label = link.title
        assign render_icon = true
        assign platform = ''

        if link_url != blank
          assign url_host = link_url | split: '//' | last | split: '/' | first | downcase
          assign url_host = url_host | remove: 'www.'

          case
            when url_host contains 'facebook' or url_host == 'fb.com'
              assign platform = 'facebook'
            when url_host contains 'instagram'
              assign platform = 'instagram'
            when url_host contains 'youtube' or url_host == 'youtu.be'
              assign platform = 'youtube'
            when url_host contains 'tiktok'
              assign platform = 'tiktok'
            when url_host contains 'twitter' or url_host == 'x.com'
              assign platform = 'twitter'
            when url_host contains 'threads'
              assign platform = 'threads'
            when url_host contains 'linkedin'
              assign platform = 'linkedin'
            when url_host contains 'bluesky' or url_host contains 'bsky'
              assign platform = 'bluesky'
            when url_host contains 'snapchat'
              assign platform = 'snapchat'
            when url_host contains 'pinterest'
              assign platform = 'pinterest'
            when url_host contains 'tumblr'
              assign platform = 'tumblr'
            when url_host contains 'vimeo'
              assign platform = 'vimeo'
            else
              assign render_icon = false
          endcase
        endif

        if link_label == blank
          assign link_label = platform | default: link_url
        endif
      %}

      {% if link_url != blank %}
        <div class="social-icons__icon-wrapper">
          <a
            href="{{ link_url }}"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="{{ link_label | escape }}"
          >
            <span class="social-icons__icon-label">{{ link_label }}</span>
            {% if render_icon %}
              <svg
                class="social-icons__icon"
                aria-hidden="true"
                focusable="false"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                {%- render 'icon', icon: platform -%}
              </svg>
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% stylesheet %}
  .social-icons__wrapper {
    display: flex;
    gap: var(--gap-sm);
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 750px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  .social-icons__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--icon-size-lg);
  }

  .social-icons__icon {
    display: flex;
    fill: currentColor;
    flex-shrink: 0;
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }

  .social-icons__icon {
    display: none;
  }

  .social-icons__icon-wrapper:has(.social-icons__icon path) {
    width: var(--icon-size-lg);

    .social-icons__icon {
      display: block;
    }

    .social-icons__icon-label {
      display: none;
    }
  }

{% endstylesheet %}

{% schema %}
{
  "name": "t:names.social_media_links",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Social links menu",
      "info": "Choose a menu that contains your social links."
    }
  ],
  "presets": [
    {
      "name": "t:names.social_media_links",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
